doctype html
//
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
	head
		title Centro Diagnostico Guayana
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//if lte IE 8
			script(src='assets/js/ie/html5shiv.js')
		link(rel='stylesheet', href='assets/css/main.css')
		noscript
			link(rel='stylesheet', href='assets/css/noscript.css')
		//if lte IE 8
			link(rel='stylesheet', href='assets/css/ie8.css')
		//if lte IE 9
			link(rel='stylesheet', href='assets/css/ie9.css')
	body.loading
		#wrapper
			#bg
			#overlay
			// Nav
			nav#nav
				a.icon.fa-file-text-o.active(href='#form')
					span Información
				a.icon.fa-search(href='#view')
					span Inicio

			#main
				center
					br
					header#header
						h2 Centro Diagnóstico Guayana, C. A.
				// form
				article#form.panel
					header
						br
						h4 Registro de pacientes
					form#post_pacient
						div
							.row
								.6u.col-6.col-12-medium
									input(type='text', name='nombre', placeholder='Nombre Completo')
								.6u.col-6.col-12-medium
									input(type='text', name='dni', placeholder='DNI')
								.6u.col-6.col-12-medium
									input(type='text', name='tlf', placeholder='N° Tlf')
								.6u.col-6.col-12-medium
									input(type='text', name='alergias', placeholder='Alergias')
								.12u(class='12u$')
									textarea(name='direccion', placeholder='Direccion del Paciente', rows='2')
								.6u.col-6.col-12-medium
									input(type='text', name='medico', placeholder='Medico')
								.6u.col-6.col-12-medium
									input(type='text', name='tipo_op', placeholder='Tipo de operación')
								.6u.col-6.col-12-medium
									input(type='text', name='tipo_sag', placeholder='Tipo de sangre')
								.6u.col-6.col-12-medium
									input(type='submit', value="Registrar")
				article#view.panel
					br
					table
						thead
							th(scope="col") Nombre
							th(scope="col") Cedula
							th(scope="col") Telefono
							th(scope="col") Operacion
							th(scope="col") Medico
						tbody(style="background: rgba(52, 52, 52, 0.08); border: 1px solid rgba(52, 52, 52, 0.08);")
							each paciente, index in pacientes
								tr
									th= paciente.nombre
									th= paciente.dni
									th= paciente.tlf
									th= paciente.tipo_op
									th= paciente.medico
		// Scripts
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/skel-viewport.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		script.
			$("#post_pacient").submit(function(e) {
				var form = $(this);
				var url = form.attr('action');
				$.ajax({
					   type: "POST",
					   url: '/paciente',
					   data: form.serialize(),
					   success: function(data)
					   {
						   alert('Datos guardados satisfactoriamente');
					   }
					 });
					 e.preventDefault();
				});
		script.
			'use strict'
			window.onload = () => { document.body.className = ''; }
			window.ontouchmove = () => { return false; }
			window.onorientationchange = () => { document.body.scrollTop = 0; }
